/*
* HTML Elements
*/
html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: Sans-Serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
}

html {
	box-sizing: border-box;

}
	*, *:before, *:after {
		box-sizing: inherit;
	}

body {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: fixed; /*Yay for mobile safari */
	background-color: #e74c3c;
	color: #fff;
	text-align: center;
	transition: background-color 5s ease-in-out;
}
	body.is-on-break {
		background-color: #2ecc71;
		transition: background-color 5s ease-in-out;
	}

button {
	display: inline-block;
	margin: 0 1em 2em;
	padding: .5em 1.5em;
	border: 1px solid #fff;
	background-color: transparent;
	border-radius: 5px;
	font-weight: 300;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	-webkit-appearance: none;
}
	button:hover {
		background-color: #fff;
		color: #444444;
	}
	*:focus {
		outline: 0;
	}
	button[disabled] {
		opacity: 0.5;
		cursor: none;
		pointer-events: none;
		transition: opacity .25s ease-in-out;
	}

@media only screen and (max-width: 540px) {
	button {
		width: 75%;
		margin-bottom: 25px !important;
	}
}

/*
* Typography
*/
h1,h2,h3,h4,h5,h6,p,a, button {
	margin-top: 0;
	margin-bottom: 12px;
	font-family: Sans-Serif;
	font-weight: 100;
}

	h1 {
		font-size: 6.5em;
		margin-top: 0;
	}

	a {
		color: #fff;
		text-decoration: underline;
	}
		a:hover {
			color: #e74c3c;
		}

/**
* Page Layout
*/
.header {
	min-height: 50px;
	float: left;
	padding: 1em 2em 0;
	text-align: left;
}
	.header > * {
		display: inline-block;
		vertical-align: middle;
	}

	@media only screen and (max-width: 540px) {
		.header {
			width: 100%;
		}
		.header > * {
			display: block;
			text-align: center;
		}
	}

.outer {
	height: 100%;
	width: 100%;
	position: absolute;
	display: table;
}
	.outer.js-sidebar-open {
		width: 50%;
	}

	@media only screen and (max-width: 850px) {
		.outer {
			width: 100%;
			transform: translate3d(0, 0, 0);
			transition: transform .10s ease-in;
		}
		.outer.js-sidebar-open {
			width: 100%;
			transform: translate3d(-100%, 0, 0);
			transition: transform .10s ease-in;
		}
	}

.middle {
	display: table-cell;
	vertical-align: middle;
}
.inner {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.island {
	margin-bottom: 12px;
}
.isolate {
	margin: 30px 0;
}

.break {
	height: 1px;
	width: 50%;
	margin: 60px auto 50px;
	border-top: 1px solid white;
}


/*
* Utility / Generic Styling
*/
.circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #fff;
	line-height: 37px;
}
	.circle:hover {
		background-color: #fff;
		color: #444444;
	}

.credit {
	margin-bottom: 24px;
}

/*
* Countdown UI
*/
.notification {
	height: 1.5em;
	font-size: 3em;
}
@media only screen and (max-width: 540px) {
	.notification  {
		margin-top: 90px;
		font-size: 2.5em;
	}
}
.count {
	height: 47px;
	vertical-align: middle;
	text-align: center;
}
.countdown {
	font-size: 10em;
}
	@media only screen and (max-width: 540px) {
		.countdown {
			font-size: 7em;
		}
	}

.tomato, .tomato--complete {
	height: 40px;
	width: 40px;
	display: inline-block;
	margin: 0 .5em;
	background: url('./../../img/tomato.png') no-repeat;
	text-align: center;
}
	.tomato--complete {
		background: url('./../../img/tomato--complete.png') no-repeat;
	}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.tomato, .tomato--complete {
		background-size: 40px 40px;
		background-repeat: no-repeat;
	}
	.tomato {
		background-image: url('./../../img/tomato-2x.png');
	}
	.tomato--complete {
		background-image: url('./../../img/tomato--complete-2x.png');
	}
}


/**
 Side Bar
*/
.sidebar-toggle {
	min-height: 30px;
	position: fixed;
	top: 1em;
	right: 2em;
	z-index: 9999;
	text-align: center;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

	@media only screen and (max-width: 540px) {
		.sidebar-toggle {
			right: 1em;
		}
	}


.sidebar {
	height: 100%;
	width: 50%;
	position: absolute;
	right: 0;
	padding: 1.5em 2em;
	background-color: #2c3e50;
	color: #fff;
	transform: translate3d(100%, 0, 0);
	border-left: 5px solid #fff;
	text-align: left;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
	.sidebar.active {
		transform: translate3d(0, 0, 0);
		transition: transform .10s ease-in;
	}

	@media only screen and (max-width: 850px) {
		.sidebar {
			width: 100%;
			border-left: none;
			transition: transform .10s ease-in;
		}
	}


/*
* Notification toggle
*/
.toggle-notifications {
	width: 100%;
	padding: .25em 1em;
	border-radius: 5px;
	background-color: #ffffff;
	color: #444444;
}

.toggle-label-wrapper {
	padding-bottom: 1em
}
	.toggle-label-wrapper > * {
		display: inline-block;
	}

.toggle__title {
	width: 40%;
}

.toggle-wrapper {
	width: 90px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
	@media only screen and (max-width: 540px) {
		.toggle-wrapper {
			vertical-align: top;
		}
	}

.toggle {
	display: none;
}

.toggle__label {
	display: block;
	overflow: hidden;
	border-radius: 20px;
	cursor: pointer;
}
.toggle__inactive {
	width: 200%;
	display: block;
	margin-left: -100%;
	transition: margin 0.10s ease-in 0s;
}
.toggle__inactive:before, .toggle__inactive:after {
	height: 30px;
	width: 50%;
	display: block;
	float: left;
	padding: 0;
	line-height: 30px;
	color: #444444;
}
.toggle__inactive:before {
	content: "ON";
	background-color: #2ecc71; color: #FFFFFF;
	text-align: center;
}
	.toggle__inactive:hover:before {
		background-color: #27ae60;
	}

.toggle__inactive:after {
	content: "OFF";
	background-color: #e74c3c;
	color: #ffffff;
	text-align: center;
}
	.toggle__inactive:hover:after {
		background-color: #c0392b;
	}
.toggle:checked + .toggle__label .toggle__inactive {
	margin-left: 0;
}
.toggle:checked + .toggle__label .toggle__active {
	right: 0px;
}

.button {
	width: 90px;
	border-radius: 20px;
	cursor: pointer;
	line-height: 30px;
}

	.button.disabled {
		background-color: grey;
		cursor: help;
		text-align: center;
	}
