<h2>What is this?</h2>
<p>
	Pomodoro is a workflow technique, where you have bursts of productivty with small breaks, then after
	a certain duration, you have an extended break. This is to help alleviate either burning yourself out from
	long intense sessions or the exact opposite, not concentrating enough!
</p>
<p>The most common implementation and used on this site is as follows:</p>
<ol>
	<li>25 minutes of work</li>
	<li>5 minute break</li>
	<li>Repeat four times, after which you have a 10 minute break</li>
	<li>Start a new Pomodoro</li>
</ol>
<p>
	Your pomodori (1 interval) count is displayed in the top left hand corner.
</p>
<p>
	For more extensive information please see the
	<a href="http://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro technique Wikipedia entry</a>.
</p>

<hr class="break" />

<h2>Settings</h2>

<!--Desktop/Audio Notifications-->
<div data-region="toggle-notifications">

</div>

<hr class="break" />

<div class="credit">
	<p>
		Made by <a href="http://tomspeak.co.uk">Tom Speak</a>. Say hello
		<a href="http://twitter.com/tom_speak">@tom_speak</a>
	</p>
	<p>View the code on <a href="https://github.com/TomSpeak/pomodo.io">Github</a></p>
</div>
