{{#if canShowBrowserNotifications}}
<div class="toggle-label-wrapper">
	<span class="toggle__title">Toggle desktop notifications</span>
	<div class="toggle-wrapper">
		{{#if isBrowserNotificationsAllowed}}
			<input type="checkbox" name="toggle" class="toggle js-browser-toggle" id="notification-toggle" {{#if browserEnabled}} checked{{/if}}>
			<label class="toggle__label" for="notification-toggle">
				<span class="toggle__inactive"></span>
				<span class="toggle__active"></span>
			</label>
		{{else}}
			<div class="button disabled" title="You have disabled browser notifications, please re-enable in your browser">
				Disabled
			</div>
		{{/if}}
	</div>
</div>
{{/if}}

{{#if canAudioNotifications}}
<div class="toggle-label-wrapper">
	<span class="toggle__title">Toggle audio notifications</span>
	<div class="toggle-wrapper">
		<input type="checkbox" name="toggle" class="toggle js-audio-toggle" id="audio-toggle" {{#if audioEnabled}} checked{{/if}}>
		<label class="toggle__label" for="audio-toggle">
			<span class="toggle__inactive"></span>
			<span class="toggle__active"></span>
		</label>
	</div>
</div>
{{/if}}

{{#unless canLocalStorage}}
<p>
	We've detected your browser does not support local storage, thus your timer
   	will not persist if you leave this page or refresh. Please upgrade!
</p>
{{/unless}}
